<!DOCTYPE html>

<html>
	{% load staticfiles %}
	<head>		
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/template_style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>

	<body>


		<ul>
	  		<li><a class="active" href="#home">Home</a></li>
	  		<li><a href="#news">News</a></li>
	  		<li><a href="#contact">Contact</a></li>
	  		<li><a href="#about">About</a></li>
		</ul>

		<div style="margin-left:25%;padding:1px 16px;height:1000px;">
	 		<h2>I'm a nuclear man</h2>

	 		<div class="card">
  				<img src="img_avatar2.png" alt="Avatar" style="width:100%">
  				<div class="container">
    				<h4><b>Jane Doe</b></h4> 
    				<p>Interior Designer</p> 
  				</div>
			</div>

		</div>



		<div >
			<button> </button>
		</div>

	</body>
</html>