<!DOCTYPE html>

<html>
	{% load staticfiles %}
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/modalpre.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>

	<body>

		<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">F2</button>

		<div id="id01" class="modal">
		    <div class="imgcontainer">
		      <span onclick="document.getElementById('id01').style.display ='none'" class="close" title="Close Modal">&times;</span> 
		    </div>
			<div class="card" style="width: 18rem;">
  				<img class="card-img-top" src="http://themicon.co/theme/centric/v1.9.5/html5jquery/app/img/user/04.jpg" alt="Card image cap">
  				<div class="card-body">
    				<h5 class="card-title">Card title</h5>
    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  				</div>
			</div>
		</div>

		<div id="containerbox">
			<input type="text" id="searchBox" onkeyup="myFunction()" placeholder=" Search for names.." title="Type in a name">
			<i class="fa fa-search" id="searchIcon"></i>

			<div class="ul">
				<label class="container">One
	    			<input type="checkbox" checked="checked">
					<span class="checkmark"></span>
				</label>
				<label class="container">Two
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="container">Three
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="container">Four
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="container">Four
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="container">Four
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="container">Four
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="container">Four
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="container">Four
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="container">Four
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="container">Four
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="container">Four
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="container">Four
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
			</div>
		</div>

		<script>
		// Get the modal
		var modal = document.getElementById('id01');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		    if (event.target == modal) {
		        modal.style.display = "none";
		    }
		}
		</script>

		<script>
			function myFunction() {
			    var input, filter, ul, li, a, i;
			    input = document.getElementById("searchBox");
			    filter = input.value.toUpperCase();
			    ul = document.getElementById("container");
			    li = ul.getElementsByTagName("li");
			    for (i = 0; i < li.length; i++) {
			        a = li[i].getElementsByTagName("a")[0];
			        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
			            li[i].style.display = "";
			        } else {
			            li[i].style.display = "none";

			        }
			    }
			}
		</script>

	</body>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</html>