{% extends 'base_lux.html' %}

{% block head %}
    <title>Tutor</title>
{% endblock head  %}
{% block brand %}
    Tutor: {{user|upper}}
{% endblock brand %}
{% block tabs %}
<li class="nav-item">
  <a class="nav-link active" href="#profile" data-toggle="tab">Mi perfil</a>
</li>
{% endblock tabs %}
{% block content %}
<!-- Relacionar con el tab profile-->
<div class="container">
  <div class="row">
    <!-- Ver perfil -->
    <div class="col">
      <center>
        <div class="jumbotron" style="background-color: #ededed">
          <h3 class="display-4">MIS DATOS</h3>
          <hr class="my-4">
          <h3 class="display-5">NOMBRE - APELLIDO</h3>
          <h5 class="card-title">DNI</h5>
          <h6 class="card-subtitle text-muted">EMAIL</h6>
          <img style="height: 184px; width: 184px; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
          <hr class="my-4">
          <p class="lead">
            <button class="btn btn-outline-info btn-lg" type="submit">Ver dispositivo</button>
          </p>
        </div>
      </center>
    </div>
    <!-- Editar Perfil -->
    <div class="col">
      <center>
        <div class="jumbotron" style="background-color: #ededed">
          <h3 class="display-4">EDITAR MIS DATOS</h3>
          <hr class="my-4">
          <form method="POST" action="/" accept-charset="utf-8">
            {% csrf_token %}
            <div class="form-group">
              <label class="col-form-label col-form-label-lg" for="inputLarge">Usuario</label>
              <input class="form-control form-control-lg" name="user" placeholder="{{ user }}" id="inputLarge" type="text">
            </div>
            <div class="form-group">
              <label class="col-form-label col-form-label-lg" for="inputLarge">Contraseña</label>
              <input class="form-control form-control-lg" name="password" placeholder="Contraseña" id="inputLarge" type="text">
            </div>
            <div class="form-group">
              <label class="col-form-label col-form-label-lg" for="inputLarge">Nombre</label>
              <input class="form-control form-control-lg" name="first_name" placeholder="{{ user.first_name }}" id="inputLarge" type="text">
            </div>
            <div class="form-group">
              <label class="col-form-label col-form-label-lg" for="inputLarge">Apellido</label>
              <input class="form-control form-control-lg" name="last_name" placeholder="{{ user.last_name }}" id="inputLarge" type="text">
            </div>
            <div class="form-group">
              <label class="col-form-label col-form-label-lg" for="inputLarge">Email</label>
              <input class="form-control form-control-lg" name="email" placeholder="{{ user.email }}" id="inputLarge" type="text">
            </div>
            <hr class="my-4">
            <p class="lead">
              <button class="btn btn-outline-primary btn-lg" type="submit">GUARDAR CAMBIOS</button>
            </p>
          </form>
        </div>
      </center>
    </div>
  </div>
</div>


<div class='container'>
  <div class='row'>

    <div class="col-lg-5 col-sm-12 mx-auto">
      <div class="card border-primary mb-3" >
        <div class="card-header">Dispositivo</div>
        <div style='background-color: #eee' class="card-body">
          {% if not parent.device %}
            <h4 class="card-title">No posee dispositivo</h4>
            <p class='card-text'>Para poder utilizar esta funcionalidad descargue la app y registrela con su respectivo preceptor</p>
          {% else %}
          <h4 class="card-title">FCM Token</h4>
          <p class='card-text'>{{ parent.device.token }}</p>
          <h4 class="card-title">Informacion</h4>
          <p>bitch pls</p>

          <button class='btn btn-danger' data-toggle="modal" data-target='#ensureModal'>desactivar</button>
          {% endif %}
        </div>
      </div>
    </div>

    <div class='col-lg-6 col-sm-12 mx-auto row'>
  {% for studentF2 in formularios2 %}
    {% for form in studentF2 %}
    <div class='col-lg-6'>

      <div class="card
        {% if form.state == 'Rechazado' %}
          bg-danger text-white
        {% elif form.state == 'Aprobado' %}
          bg-success text-white
        {% else %}
          bg-secondary
        {% endif %}
        mb-3 mx-auto">
        <div class="card-header"><center>{{form.date}} {{form.time}}</center></div>
        <div class="card-body">
          <h4 class="card-title">
            {{form.student.first_name}}
            {{form.student.last_name}}
          </h4>
          <p class="card-text">{{form.motivo}}</p>
          <form class="form-group" action="/f2kens/update_f2_state/form_id_{{ form.id }}/" method="POST" accept-charset="utf-8">
            {% csrf_token %}
            <button class='btn{% if form.state == 'Aprobado' %}' disabled{% else %} btn-success'{% endif %} name='estado' value="Aprobado" type="submit" >v</button>
            <button class='btn{% if form.state == 'Rechazado' %}' disabled{% else %} btn-danger'{% endif %} name='estado' value="Rechazado" type="submit" >x</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endfor %}
    </div>

  </div>
</div>
<div class="modal" id='ensureModal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deshabilitar Dispositivo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro que desea deshabilitar su dispositivo?
        Si prosigue no podra volver a usar este dispositivo hasta no volver a registrarlo</p>
      </div>
      <div class="modal-footer">
        <form action="/f2kens/rvk_device/" method="POST" accept-charset="utf-8">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Si, estoy seguro</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, lo mantendre</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
