.background-body {
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar.bg-primary {
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-secondary {
    background-color: royalblue !important;
}

a.nav-link {
    border-radius: .25rem;
    margin-left: 50px !important;
    margin-right: 3px !important;
}

a.bg-secondary.active {
    background-color: #0000007F !important;
}

.navbar {
  margin-bottom: 40px;
}

.checkboxgroup{
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #888888AA;
    border-radius: 5px;
    padding: 1rem;
}

#year-filter-f2 {
    margin-bottom: 1rem;
}