<!-- HTML BASICO PARA TESTEAR VIEWS EN CASO DE NO ESTAR DISPONIBLE ALGUN TEMPLATE -->
<html>
    <head>
        <meta charset="utf-8">
        <title>Director TEST</title>
    </head>
    <body>
        <center><h1>DIRECTOR - TESTING VIEWS AND TEMPLATES</h1></center>

        <!-- Creating a device -->
        <div style="border-style:solid; padding-left: 20px">
            <h3>Crear dispositivo</h3>
            <form method="POST" action="{% url 'create_device' %}">
                {% csrf_token %}
                <p>Token</p>
                <!-- Cambiar tipo de input para que envie datos booleanos -->
                <input type="checkbox" name="device_token" value="True" checked>
                <input type="submit">
            </form>
        </div>
        <br>
        <!-- Creating a preceptor -->
        <div style="border-style:solid; padding-left: 20px">
            <h3>Crear preceptor</h3>
            <form method="POST" action="{% url 'create_preceptor' %}">
                {% csrf_token %}
                <p>Nombre</p>
                <input type="text" name="preceptor_firstname">
                <p>Apellido</p>
                <input type="text" name="preceptor_lastname">
                <p>Horario</p>
                <input type="date" name="preceptor_schedule">
                <input type="submit">
            </form>
        </div>
        <!-- Updating preceptores -->
        <div style="border-style:solid; padding-left: 20px">
            <h3>Actualizar preceptores</h3>
            {% for preceptor in preceptores %}
                <a href="{% url 'update_preceptor' preceptor_id=preceptor.id %}">{{ preceptor.firstname }} {{ preceptor.lastname }}</a>
            {% endfor %}
        </div>
    </body>
</html>